@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Parisienne&family=Roboto:wght@700&display=swap');


.container{
    
    align-items: center;
    color: black;

}
.seccion{
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;   
}

.video-background{
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position:absolute;
    object-fit: cover;
    z-index: -1;
    opacity: .5;
}

.video-overlay{
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    background:linear-gradient(to right, rgb(240, 189, 106), white);
    z-index: 1;
    opacity: .5;
}

.welcome-tex{
    display: flex;
    position: relative;
    margin: 0;
    padding: 1vh 7vh;
    align-content: center;
    z-index: 2;
    width: 100vw;
}

.div-container{

    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.text-left{
    margin: 1vh;
    border: solid .5vh rgb(6, 82, 112);
    border-radius: 5vh;
    width: 45vw;
    height: 70vh;

}

.text-right{
    display: flex;
    align-content: center;
    margin: 1vh;
    
    border-radius: 5vh;
    width: 45vw;
    height: 70vh;

}


.welcome-tex h1{
    text-align: center;
    font-family: 'Parisienne', cursive;
    font-size: 7vh;
    z-index: 2;
}

.welcome-tex h2{
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 3vh;
    z-index: 2;

}
.welcome-tex h3{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 2vh;
    z-index: 2;
}
.welcome-tex p{
    font-size: 2.5vh;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    padding: 3vh;
    z-index: 2;
}

.btn-tex{
    text-align: right
}

.btn{
    background-color:#9be7df;
    border-radius: 10px;
    border: none;
    color: #7030a0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 2.5vh;
    padding: 1.5vh 3.2vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
    font-weight: bold;
    transition: all 0.5s ease;
   
}

.btn:hover{
    background-color:#7030a0;
    color: #9be7df;
}


@media screen and (max-width:1024px) {

  
    .div-container{
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 100%;
     }

     .text-left{
         word-wrap: normal;
         width: 100%;
         height: 100%;
     }
     .text-right{
         display: none;
     }

     .seccion{
         height: 130vh;
     }
  
}