
.nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #7030a0;
    padding: 1rem 10rem;
    transition: all 0.5s ease;
    /* background-color:  rgba(0, 0, 0, 0.7); */
    z-index: 100;
}

.nav.active{
    background: #000;
    padding: .5rem 9rem;
}

/* .nav.active .menu li{
 background-color: #000;

azul logo #9be7df
morado letras  #7030a0;

} */
.nav.active .logo, .nav.active a{
    
    color: rgb(252, 246, 246);
}

.nav.active a:hover{
    background: rgba(255, 254, 254, 0.5);
    color: rgb(7, 7, 7);
}

.logo{
    font-size: 35px;
    color:#fff;
    font-weight: 100;
    z-index: 2;
}
.menu{
    font-size: 25px;
    display: flex;
    z-index: 2;
    border-radius: 15px;
}

.menu li{
    padding: 15px;
    align-items: center;
    list-style: none;
    
}

.menu li  a {
    color: #7030a0;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}

.menu li a:hover{
    padding: 5px 10px;
    background: #fff;
    color:#000;
    border-radius: 15px;
}
   
.menu-btn{
    color: rgb(253, 252, 252);
    font-size: 45px;
    display: none;
    cursor: pointer;
}

@media screen and (max-width:1024px) {
    .menu-btn{
        display: block;
    }

    .menu{
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        height: 100vh;
        background: rgb(150, 138, 138);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all .05s ease;
        transform: translateX(-100%)   ; 
    }

    .menu li{
        margin: 15px 0;
    }
    
}