.section-paquetes{
    display: flex;
align-items: center;
   height: 100%;
    width: 100%;
   margin: 0;    
}

.container-paquetes{
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;
    flex-direction: column;
}

.title-Paquetes{
    display: block;
    text-align: center;
    font-size: 5rem;
    padding: 4rem;
}

.paquetes-tags{
    flex-direction: column;
}

/*

.container-secction{
    display: flex;
    padding-top: 2.5vmax;
    flex-direction: column;
    align-items: center;
}
.titleSection{
    padding: 1rem;
    font-size: 3.5vmax;
    color:  rgb(6, 82, 112);
    font-family: 'Parisienne', cursive;
}

.containert-tags{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
 */

@media screen and (max-width:1024px) {
    .display-section{
     padding: .2vmax;
       
    }

    .container-secction{
      padding-top: 0;
      width: max-content;  
     
      height: 100%;
      margin: auto;
    }
    .titleSection{
        padding: .5rem;
    }
    .containert-tags{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    
}