.screenSplit-container{
    display: flex;
    align-items: center;
    padding: 15rem, 0rem;
    
    /* flex-direction: row; */
    background-color: rgb(243, 240, 240);
}


.screenSplit-container-inverso{
    display: flex;
    align-items: center;
    padding: 15rem, 0rem;
    flex-direction: row-reverse;
    background-color: rgb(243, 240, 240);
}

.scrensplit-image-inverso{
    padding: 0rem, 5rem;
    height: 35rem;
    width: 40%;
    display: flex;
    position: relative;
    justify-content: start;
}

.scrensplit-image{
    padding: 0rem, 5rem;
    height: 35rem;
    width: 40%;
    display: flex;
    position: relative;
    justify-content: end;
}

.scrensplit-image img{
    max-width: 30rem;
    max-height: 30rem;
}

.screenSplit-text{
    padding: 5rem;
    height: 35rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: start;
}

.titulo-paquete{
    padding:2rem ;
    font-size: 3.5rem;
    color:blueviolet;
    
}

.descripcion-paquete{
    padding: 1rem;
    font-size: 2.5rem;
}

.precio-paquete{
    padding: .5rem;
    font-size: 2rem;
}

.duracion-paquete{
    padding: 1rem;
    font-size: 2.5rem;
}


@media screen and (max-width:1024px) {

    .target{
       
        width: 85vw;
       height: 23vh;
    }
    .divImage{
        size: 3rem;
    }

    .target h1{
        text-align: center;
        padding: .2rem;
        align-self: center;
        font-size: 2vmax;
        
    }
    .target p{
        padding: .5rem;
        font-size: .8rem;
        display: block;
        text-align: justify;
        transition: all 2S inherit;
    }
    .target:hover > .divImage{
        display: none;
        
    }
}